body {
    
}

* {
    margin: 0;
    padding: 0;
}

.cta {
	padding: 15px;
	background: #0cb8b6;
	color: white;
	font-weight: bold;
	font-size: 1.1rem;
	border: 0;
	outline: none;
	width: 100%;
	border-radius: 4px;
}

.cta:hover {
	cursor: pointer;
	background: #0ba19f;
}
